header {
    background-image: url(../images/header.png);
    background-position: center;
    background-position-y: top;
    height: 100vh;
    padding-top: 2rem;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 3rem;
    font-weight: bold;

    a {
        color: #ffffff;
    }
}

.menu {
    display: flex;
    margin-left: auto;
    gap: 2rem;

    a {
        cursor: pointer;
        color: #ffffff;

        &:hover {
            color: #ffffffe2;
        }
    }
}