* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

section {
  padding: 120px 0;
}

.section-heading {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
}

.desc {
  font-weight: 300;
  font-size: 1rem;
  line-height: 22px;
  letter-spacing: 0.06em;
}

.sec-bg {
  background-color: #F4F7FE;
}

.btn {
  padding: .5rem 1.5rem;
  border: 1px solid transparent;
  border-radius: 4px;
  font-style: normal;
  color: #ffffff;
  -webkit-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.btn-primary {
  background-color: #8C84F9;
  border-color: #8C84F9;
  -webkit-box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.25);
          box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.25);
}

.btn-primary:hover {
  background-color: #756cf8;
  border-color: #756cf8;
}

.btn-default {
  background-color: #EC6B8E;
  border-color: #EC6B8E;
}

.btn-default:hover {
  background-color: #e63e6b;
}

.btn-default.btn-default-transparent {
  background-color: transparent;
  color: #EC6B8E;
}

.btn-default.btn-default-transparent:hover {
  background-color: #EC6B8E;
  color: #ffffff;
}

.btt {
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  position: fixed;
  bottom: 20%;
  right: 10%;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.25);
          box-shadow: 0px 2px 10px rgba(51, 51, 51, 0.25);
  padding: 8px 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btt img {
  width: 24px;
}

.btt.visible {
  opacity: 1;
  pointer-events: all;
}

header {
  background-image: url(../images/header.png);
  background-position: center;
  background-position-y: top;
  height: 100vh;
  padding-top: 2rem;
  position: relative;
}

header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .header-content .logo {
  margin-right: auto;
  font-size: 3rem;
  font-weight: bold;
}

header .header-content .logo a {
  color: #ffffff;
}

header .header-content .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2rem;
}

header .header-content .menu li {
  margin-right: 2rem;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

header .header-content .menu li:hover {
  border-bottom-color: #ffffff;
}

header .header-content .menu a {
  color: #ffffff;
}

header .header-content .search-container .search-icon {
  width: 24px;
  cursor: pointer;
}

header .header-content .search-container .search-bar {
  position: absolute;
  width: 100%;
  top: 58px;
  left: 0;
  padding: 1.2rem 2rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  z-index: 1000;
}

header .header-content .search-container .search-bar input {
  width: 95%;
  background-color: transparent;
  margin: auto;
  display: block;
  padding: .5rem 4rem .5rem 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #ffffff;
  outline: none;
  border-radius: 4px;
  border: 0;
  border-bottom: 1px solid #ffffff61;
}

header .showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8rem;
}

header .showcase .showcase-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4rem;
  margin-right: 4rem;
  width: 100%;
}

header .showcase .showcase-title h1 {
  font-size: 78px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

header .showcase .showcase-title .btn-primary {
  margin: 5rem auto;
  text-transform: uppercase;
  font-size: 20px;
  padding: 12px 40px;
  font-weight: bold;
}

header .showcase .showcase-img {
  width: 100%;
  max-width: 531px;
}

header .down-arrow {
  position: absolute;
  bottom: 40px;
  left: 45%;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #a39cfa;
  padding: 24px 26px;
}

header .down-arrow img {
  width: 24px;
}

header .down-arrow:hover {
  background-color: #958ef9;
  -webkit-box-shadow: 0px 0 24px 2px rgba(51, 51, 51, 0.1);
          box-shadow: 0px 0 24px 2px rgba(51, 51, 51, 0.1);
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 980px;
  margin: 7rem auto 0;
}

.cards-container .card {
  padding: 3rem 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 310px;
}

.cards-container .card .icon {
  margin: auto;
  background-color: #EBE1FA;
  border-radius: 50%;
  padding: 18px 20px;
}

.cards-container .card .icon img {
  width: 40px;
}

.cards-container .card .card-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.cards-container .card.highlited {
  -webkit-box-shadow: 0px 8px 77px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 77px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.cards-container .card .btn {
  margin: auto;
}

.card-header {
  border-bottom: 1px solid rgba(196, 196, 196, 0.2);
}

.card-header .card-title-small {
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.card-header .price-tag {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #8C84F9;
  margin-top: 20px;
  margin-bottom: 32px;
}

.package-features {
  margin-top: 1.5rem;
  margin-bottom: 4.5rem;
}

.package-features li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

.package-features li:last-child {
  margin-bottom: 0;
}

.about-section .section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-section .section-container .about-image {
  width: 100%;
  max-width: 528px;
}

.about-section .section-container .section-text {
  width: 100%;
  margin-left: 80px;
  margin-top: 4rem;
}

.about-section .section-container .section-text h3 {
  width: 100%;
  max-width: 430px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
}

.about-section .section-container .section-text p {
  margin-top: 2rem;
}

.about-section .section-container .section-text .section-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}

.about-section .section-container .section-text .section-btn .btn-transparent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2rem;
}

.about-section .section-container .section-text .section-btn .btn-transparent img {
  width: 24px;
}

.about-section .section-container .section-text .section-btn .btn-transparent .btn-text {
  margin-left: 1rem;
  color: #8C84F9;
  font-weight: bold;
  font-style: normal;
}

.about-section .section-container .section-text.stats {
  margin-left: 0;
  margin-right: 80px;
  margin-top: 1.5rem;
}

.stats-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.stats-items .stats-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 3rem;
  width: 50%;
}

.stats-items .stats-item .num {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #8C84F9;
}

.stats-items .stats-item .tag {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.portfolio-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 47%;
  margin: 2rem auto 3.5rem;
}

.portfolio-nav li a {
  color: #333333;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.portfolio-nav li a:hover {
  color: #8C84F9;
  border-bottom-color: #8C84F9;
}

.portfolio-nav li a.active {
  color: #8C84F9;
  border-bottom-color: #8C84F9;
}

.portfolio-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.testimonial-container {
  width: 100%;
  max-width: 760px;
  margin: auto;
  background-color: #ffffff;
  text-align: center;
  margin-top: 4rem;
  padding: 5.5rem;
  -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
}

.testimonial-container .testimonial-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-container .testimonial-slide span {
  font-weight: bold;
  font-size: 80px;
  color: #8C84F9;
}

.testimonial-container .testimonial-slide p {
  font-size: 18px;
  line-height: 23px;
}

.testimonial-container .reviewer-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.testimonial-container .reviewer-details .reviewer-title {
  font-weight: 600;
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.testimonial-container .reviewer-details .reviewer-tag {
  font-size: 14px;
}

.testimonial-container .reviewer-details .avatar {
  width: 63px;
}

.arrow {
  width: 48px;
  padding: 14px 14px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-box-shadow: 0px 4px 14px rgba(51, 51, 51, 0.1);
          box-shadow: 0px 4px 14px rgba(51, 51, 51, 0.1);
}

.left-arrow {
  left: -25%;
}

.right-arrow {
  right: -25%;
}

footer {
  background-color: #07102D;
  padding: 120px 0;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
}

.footer-content .footer-item {
  width: 25%;
}

.footer-content .footer-item:first-child {
  margin-right: 70px;
}

.footer-content .footer-item .footer-heading {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 2.5rem;
}

.footer-content .footer-item p {
  line-height: 165%;
}

.footer-content .footer-item .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-content .footer-item .social-links .social-link {
  width: 36px;
  background-color: #8C84F9;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0;
  margin-top: 2rem;
  margin-right: 2.5rem;
}

.footer-content .footer-item .social-links .social-link:last-child {
  margin-right: 0;
}

.footer-content .footer-item .social-links .social-link img {
  width: 20px;
  margin: auto;
}

.footer-content .footer-menu li {
  margin-bottom: 1rem;
}

.footer-content .footer-menu a {
  color: #ffffff;
  border-bottom: 2px solid transparent;
  padding-bottom: 4px;
  letter-spacing: 0.06em;
}

.footer-content .footer-menu a:hover {
  border-bottom-color: #fff;
}

.copyright {
  text-align: center;
  background-color: #0D1A3C;
  color: #ffffff;
  padding: 1rem 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #333333;
}
/*# sourceMappingURL=sytle.css.map */